# Site settings
title: ContractorKeith
description: notes from my work and findings along the way
url: https://contractorkeith.github.io
baseurl: ""
logo: https://avatars.githubusercontent.com/u/189427369?s=400&u=8831cbc7eb1e73271f9de0aa1beb83ca0e930030&v=4

# Theme
remote_theme: pages-themes/architect@v0.2.0
show_downloads: false

# Plugins
plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-feed

# Permalink style for blog posts
permalink: /blog/:year/:month/:day/:title/

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: posts
    values:
      layout: default

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
